[user]
	name = Tran Tien Dat
	email = dat010206@outlook.com
[core]
	editor = vim
[alias]
	cm = commit
	st = status
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
